<div class="container">
  <div class="mt-5">
    <h2 class="mx-auto mb-5 text-color col-3 text-center">レシピ編集</h2>
  </div>
  
    <%= form_with model: @recipe, url: admin_store_recipe_path, local: true do |f| %>

      <div class="form-group row">
        <%= f.label :料理写真, class:"col-md-2" %>
        <%= f.file_field :image, accept: "image/*"%>
        <p>※料理以外の写真はご遠慮ください。</p>
      </div>
        
      
      <div class="form-group row">
        <%= f.label "レシピのタイトル", class:"col-md-2" %>
        <%= f.text_field :title, autofocus: true, size: "45", class:'py-2 px-2' %>
      </div>

      <div class="form-group row">
        <%= f.label :カテゴリ, class:"col-md-2" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "--選択してください--",class:"form-select" %>
      </div>
        
      <!------------ 材料登録 -------------->
      <div class="form-group row">
        <%= f.label :材料,class:"col-md-2" %>
        <%= f.text_field :serving, class:"rounded", autofocus: true %>
      </div>

      <div class="row">
        <table class="table table-borderless mb-0" id="ingredient-table">
          <thead>
            <th><h4 class="mx-auto mt-3">食材・調味料</h4></th>
          </thead>
          <tbody>
            <%= f.fields_for :ingredients do |ingredient| %>
              <%= render partial: "admin/recipes/ingredient_fields", locals: { f: ingredient }%>
            <% end %>
          <tr id="detail-association-ingredient-insertion-point"><td></td></tr>
            <tr>
              <td class="links col-md-2">
                <%= link_to_add_association "+材料を追加", f, :ingredients,
                    class: "btn btn-primary btn-block",
                    data: {
                    association_insertion_node: '#detail-association-ingredient-insertion-point',
                    association_insertion_method: 'after'

                    }
                %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!------------ 作成手順 -------------->
      <div class="row">
        <h4 class="col-2 mt-4">作り方</h4>
      </div>

      <div class="row">

        <table class="table table-borderless" id="procedure-table">
          <%= f.fields_for :procedures do |procedure| %>
            <%= render partial: "admin/recipes/procedure_fields", locals: { f: procedure }%>
          <% end %>
          <tr id="detail-association-procedure-insertion-point"><td></td></tr>
          <tr>
            <td class="links col-md-2">
              <%= link_to_add_association "+作り方を追加", f, :procedures,
                  class: "btn btn-primary btn-block",
                  data: {
                  association_insertion_node: '#detail-association-procedure-insertion-point',
                  association_insertion_method: 'after'
                }%>
            </td>
          </tr>
        </table>
      </div>


      <div class="form-group row">
        <%= f.label :コツ・ポイント, class:"col-md-2 mt-5" %>
        <%= f.text_area :comment, size: "50x5", class:"mt-5" %>
      </div>
    

      <div class="form-group ro">
        <%= f.label :公開ステータス,class:"form_label my-3" %>
        <%= f.radio_button :status, true, checked: true %>
        <%= f.label :status, "公開中",class:"form_label" %>
        <%= f.radio_button :status, false %>
        <%= f.label :status, "非公開",class:"form_label" %>
      </div>
        
      
      <div class="form-action d-flex justify-content-around">
        <%= f.submit "変更を保存", class:"btn btn-success mb-5" %>
      </div>
        
    <% end %>
</div>