<div class="container">
  <div class="mt-5">
    <h4 class="mb-5 text-color col-3 text-center">レシピ投稿</h4>
  </div>

      <%= form_with model: @recipe, url: recipe_path, local: true do |f| %>

        <div class="form-group row">
          <%= f.label "レシピのタイトル", class:"col-md-2" %>
          <%= f.text_field :title, class:"rounded", autofocus: true, placeholder:"ゴロゴロひき肉の麻婆豆腐" %>

        </div>

        <div class="form-group row">
          <%= f.label :料理写真, class:"col-md-2" %>
          <%= f.file_field :image, accept: "image/*" %>
          <p>※料理以外の写真はご遠慮ください。</p>
        </div>

        <div class="form-group">
          <%= f.label :カテゴリ %>
          <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "--選択してください--" %>
        </div>

        <div class="form-group row">
          <%= f.label :材料, class:"col-3" %>
          <%= f.text_field :serving, class:"rounded", autofocus: true, placeholder:"何人分" %>
        </div>

        <div class="row">
          <table class="table table-borderless mb-0" id="ingredient-table">
            <thead>
              <th class="pb-1"><h6 class="mb-0">材料・調味料</h6></th>
              <th class="pb-1"><h6 class="mb-0">分量</h6></th>
            </thead>
            <tbody>
              <%= f.fields_for :ingredients do |ingredient| %>
                <tr>
                  <td class="py-1"><%= ingredient.text_field :name, size:"14", placeholder: "牛肉" %></td>
                  <td class="py-1"><%= ingredient.text_field :amount, size:"14", placeholder: "200g" %></td>
                  <td class="align-middle p-0"><input type="button" value="削除" onclick="deleteRow(this)"></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <input type="button" value="材料を追加" onclick="addRow('ingredient-table')" class="btn btn-sm btn-color py-0 my-3 ml-2">
        </div>

        <div class="row">
          <h4 class="text-center mx-auto mb-0">作り方</h4>
        </div>

        <div class="row">
          <div class='offset-md-3'>
          <table class="table table-borderless" id="procedure-table">
            <%= f.fields_for :procedures do |procedure| %>
            <tr>
              <td><%= procedure.text_area :body, placeholder:"作り方を記入" class:"rounded", autofocus: true %></td>
              <td class="align-middle"><input type="button" value="削除" onclick="deleteRow(this)"></td>
            </tr>
            <% end %>
          </table>
          </div>
        </div>
        <input type="button" value="作り方を追加" onclick="addRow('procedure-table')" class="btn btn-sm btn-color py-0 mb-3 procedure-add-btn">

        <div class="form-group row">
          <%= f.label :コメント, class:"col-3" %>
          <%= f.text_area :comment, size: "50x5", placeholder:"ここに説明文を記述します" %>
        </div>

        <div class="actions">
          <%= f.submit "保存", class:"btn btn-success offset-3 mt-4" %>
        </div>

      <% end %>

</div>