<div class="container">
  <div class="mt-5">
    <h2 class="mx-auto mb-5 text-color col-3 text-center">レシピ新規投稿</h2>
  </div>

  <%= form_with model: @recipe, url:admin_store_recipes_path(@store), local: true do |f| %>
    <%= render 'admin/shared/error_messages', object: f.object %>

    <div class="form-group row">
      <%= f.label "レシピのタイトル", class:"col-md-2" %>
      <%= f.text_field :title, class:"rounded", autofocus: true, placeholder:"ゴロゴロひき肉の麻婆豆腐", size: "45", class:'py-2 px-2' %>
    </div>

    <div class="form-group row">
      <%= f.label :料理写真, class:"col-md-2" %>
      <%= f.file_field :image, accept: "image/*" %>
      <p>※料理以外の写真はご遠慮ください。</p>
    </div>

    <div class="form-group row">
      <%= f.label :カテゴリ, class:"col-md-2" %>
      <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "--選択してください--" %>
    </div>

    <!------------ 材料登録 -------------->
    <div class="form-group row">
      <%= f.label :材料, class:"col-md-2" %>
      <%= f.text_field :serving, class:"rounded", autofocus: true, placeholder:"何人分" %>
    </div>

    <div class="row">
      <h4 class="col-2 mt-4">食材・調味料</h4>
    </div>

    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render partial: "admin/recipes/ingredient_fields", locals: { f: ingredient }%>
    <% end %>

    <div id="detail-association-ingredient-insertion-point"></div>

    <div class="links col-12 py-4">
      <%= link_to_add_association "+材料を追加", f, :ingredients,
          class: "btn btn-primary btn-block",
          data: {
          association_insertion_node: '#detail-association-ingredient-insertion-point',
          association_insertion_method: 'before'
          }
      %>
    </div>

    <!------------ 作成手順 -------------->
    <div class="row">
      <h4 class="col-2 mt-4">作り方</h4>
    </div>

    <%= f.fields_for :procedures do |procedure| %>
      <%= render partial: "admin/recipes/procedure_fields", locals: { f: procedure }%>
    <% end %>

    <div id="detail-association-procedure-insertion-point"></div>

    <div class="links col-12 py-4">
      <%= link_to_add_association "+作り方を追加", f, :procedures,
          class: "btn btn-primary btn-block",
          data: {
          association_insertion_node: '#detail-association-procedure-insertion-point',
          association_insertion_method: 'before'
        }%>
    </div>

    <div class="form-group row">
      <%= f.label :コツ・ポイント, class:"col-md-2 mt-5" %>
      <%= f.text_area :comment, size: "50x5", placeholder:"ここに説明文を記述します", class:"mt-5 mb-3" %>
    </div>

    <div class="actions">
      <%= f.submit "保存", class:"btn btn-success btn-lg offset-5 mb-5" %>
    </div>

  <% end %>
</div>