<div class="container">
  <h2 class="mt-5 text-center">レシピ詳細</h2>
  <div class="row align-items-center m-5">
    <div class="col-lg text-center mb-5">
      <%= image_tag @recipe.get_image(300,200) %>
    </div>
    <div class='col-md-11 offset-md-1'>

        <div class="item_text mb-3">
          <h2><%= @recipe.title %></h2>
        </div>

        <div class='row'>
          <table class="table table-border mx-auto">
              <th class="d-flex pb-0 mb-2 border-top-0">
                <h5>材料</h5>
                <p>（<%= @recipe.serving %>）</p>
              </th>

            <tbody>
              <% @recipe.ingredients.each do |ingredient| %>
              <tr>
                <td><%= ingredient.name %></td>
                <td><%= ingredient.amount %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="row mx-auto mt-5">
          <table class="table table-borderless mx-auto">
            <thead class="page-heading-pink">
              <th colspan="2" class="py-1">
                <h5>作り方</h5>
              </th>
            </thead>
            <tbody>
              <% step_num = 0 %>
              <% @recipe.procedures.each do |procedure| %>
              <tr class="ml-2">
                <td><%= step_num += 1 %>)</td>
                <td><%= procedure.body %></td>
              </tr>
              <% end %>
            </tbody>
         </table>
        </div>

        <div class="row mt-4 mb-4">
          <h4>コツ・ポイント</h4>
          <p class="text-wrap px-3"><%= @recipe.comment %></p>
        </div>

        <!--レシピを保存ボタン-->
        <% if current_customer.present? %>
          <% if @recipe.bookmarked_by?(current_customer) %>
          <% bookmark = current_customer.bookmarks.find_by(recipe_id: @recipe.id) %>
            <%= link_to "お気に入りレシピを外す", recipe_bookmark_path(@recipe, bookmark), method: :delete, class: "btn btn-outline-danger" %>
          <% else %>
            <%= link_to "レシピを保存", recipe_bookmarks_path(@recipe), method: :recipe, class: "btn btn-outline-primary" %>
          <% end %>
        <% end %>

        <!--いいねボタン-->
        <% if current_customer.present? %>
        <div>
          <% if @recipe.favorited_by?(current_customer) %>
            <p>
              <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
              ♥<%= @recipe.favorites.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to recipe_favorites_path(@recipe), method: :post do %>
              ♡<%= @recipe.favorites.count %>
              <% end %>
            </p>
          <% end %>
        </div>
        <% end %>

        <!--レビュー-->

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#tab1" class="nav-link active" data-toggle="tab">レビュー</a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab">アレンジレシピ</a>
          </li>
        </ul>

        <div class="tab-content">
          
          <div id="tab1" class="tab-pane active mt-3">
            <h5>レビュー件数：<%= @recipe.post_comments.count %></h5>

            <div>
              <% @recipe.post_comments.each do |post_comment| %>
                <div class="card-body">
                  <div class="row">
                    <div class="col-10">
                      <span><%= image_tag post_comment.customer.get_profile_image(50,50), class:"mt-3 rounded-circle"; %></span>
                      <span><%= post_comment.created_at.strftime('%Y/%m/%d') %>｜ </span>
                      <span><%= post_comment.comment %></span>
                      <% if post_comment.customer == current_customer %>
                      <%= link_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete, class: "btn btn-sm btn-danger" %>
                      <% end %>
              
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div>
              <%= form_with model: [@recipe, @post_comment] do |f| %>
                <%= f.text_area :comment, class:"form-control", rows:"3", placeholder: "コメントをここに" %>
                <% if customer_signed_in? %>
                <%= f.submit "送信する", class:"btn btn-block btn-info mt-4" %>
                <% else %>
                <%= link_to "アカウント新規登録して投稿する", new_customer_registration_path,class: "btn btn-outline-secondary mt-4" %>
                <% end %>
              <% end %>
            </div>

          </div>

          <!--アレンジレシピ-->
          <div id="tab2" class="tab-pane mt-4">

            <div class="container">
              <div class="row">
                <div class="col-sm-12 px-sm-0">
                  <h4>(全<%= @arrange_recipes.count %>件)</h4>
                </div>
              </div>

              <div class="row mt-3 mb-3 text-center text-xs-center text-sm-center text-md-left">
                <% @arrange_recipes.each do |arrange_recipe| %>
                <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
                  <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
                    <%= link_to arrange_recipe_path(arrange_recipe.id) do %>
                    <p class="img-wrap"><%= image_tag arrange_recipe.get_image(180,130) %></p>
                    <p class="recipe-details recipe-name card-text"><%= arrange_recipe.title.truncate(12) %></p>
                  <div class="card-body">
                    <p>
                      <div class="row" style="display: flex; align-items: center;">
                        <div class="col-3">
                          <%= image_tag arrange_recipe.customer.get_profile_image(50,50), class:"rounded-circle"; %>
                        </div>
                        <div class="col-7">
                          <%= arrange_recipe.customer.name %>
                        </div>
                      </div>
                    </p>
                  </div>
                  <% end %>
                </div>
              </div>
                <% end %>
              </div>

          <% if customer_signed_in? %>
            <%= link_to "アレンジレシピを投稿する", new_recipe_arrange_recipe_path(@recipe), class: "btn btn-sm btn-success col-mb-5" %>
            <% else %>
            <%= link_to "アカウント新規登録して投稿する", new_customer_registration_path,class: "btn btn-outline-secondary mx-3 my-1" %>
          <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>