<div class="container">
  <h2 class="mt-5 text-center">レシピ詳細</h2>
  <div class="row align-items-center m-5">
    <div class="col-lg text-center mb-5">
      <%= image_tag @recipe.image, format: 'jpg', fallback: "no_image.jpg",size:"300x200" %>
    </div>
    <div class='col-md-11 offset-md-1'>
      <div class="recipe_new">

        <div class="item_text">
          <h2><%= @recipe.title %></h2>
        </div>

        <div class='row'>
          <table class="table table-borderless mx-auto">
            <thead class="border-bottom">
              <th class="d-flex pb-0 mb-2">
                <h5>材料</h5>
                <p>（<%= @recipe.serving %>）</p>
              </th>
            </thead>
            <tbody>
              <% @recipe.ingredients.each do |ingredient| %>
              <tr>
                <td><%= ingredient.name %></td>
                <td><%= ingredient.amount %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="row mx-auto mt-5">
          <table class="table table-borderless mx-auto">
            <thead class="page-heading-pink">
              <th colspan="2" class="py-1">
                <h5>作り方</h5>
              </th>
            </thead>
            <tbody>
              <% step_num = 0 %>
              <% @recipe.procedures.each do |procedure| %>
              <tr class="ml-2">
                <td><%= step_num += 1 %>)</td>
                <td><%= procedure.body %></td>
              </tr>
              <% end %>
            </tbody>
         </table>
        </div>

        <div class="row mt-4 mb-3">
          <h4>コツ・ポイント</h4>
          <p class="text-wrap text-center px-3"><%= @recipe.comment %></p>
        </div>


        <!--いいねボタン-->
        <div>
          <% if @recipe.favorited_by?(current_customer) %>
            <p>
              <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
              ♥<%= @recipe.favorites.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to recipe_favorites_path(@recipe), method: :post do %>
              ♡<%= @recipe.favorites.count %>
              <% end %>
            </p>
          <% end %>
        </div>


        <!--レビュー-->

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#tab1" class="nav-link active" data-toggle="tab">レビュー</a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab">アレンジレシピ</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="tab1" class="tab-pane active mt-3">
            <h5>レビュー件数：<%= @recipe.post_comments.count %></h5>

            <div>
              <% @recipe.post_comments.each do |post_comment| %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
                <% if post_comment.customer == current_customer %>
                <%= link_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete %>
                <% end %>
              <% end %>
            </div>

            <div>
              <%= form_with model: [@recipe, @post_comment] do |f| %>
                <%= f.text_area :comment, class:"form-control", rows:"3", placeholder: "コメントをここに" %>
                <%= f.submit "送信する", class:"btn btn-block btn-info mt-4" %>
              <% end %>
            </div>

          </div>

          <div id="tab2" class="tab-pane mt-5">
            <p>タブ2のコンテンツが入ります</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>