<div class = "container-fluid">
  <div class = "row">
    <div class="col-xs-6 mx-auto">
      <%= image_tag "top.png", alt: "farmer", :size =>'900x450' %>
    </div>
  </div>

  <div class = "row">
    <div class ="col-6 mx-auto">
      <h3 class = "border my-5 rounded-circle border-secondary text-center">お店カテゴリ一覧</h3>
    </div>
  </div>

  
  <div class="row">
    <% @stores.each do |store| %>
    <div class ="col-lg-6 mx-auto">
    <%= link_to store_path(store.id) do %>
      <p><%= image_tag "izakaya.png", alt: "farmer", :size =>'400x350', fallback: "no_image.jpeg" %></p>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class ="col-lg-1 mx-auto m-5">
    <%= image_tag "italian.png", alt: "farmer", :size =>'400x350', fallback: "no_image.jpeg" %>
    </div>
  </div>

  <div class="row">
    <div class ="col-lg-6 mx-auto m-5">
    <%= image_tag "washoku.png", alt: "farmer", :size =>'400x350', fallback: "no_image.jpeg" %>
    </div>
  </div>

  <div class="row">
    <div class ="col-lg-1 mx-auto m-5">
    <%= image_tag "chuka.png", alt: "farmer", :size =>'400x350', fallback: "no_image.jpeg" %>
    </div>
  </div>

  <div class="row">
    <div class ="col-lg-6 mx-auto m-5">
    <%= image_tag "cafe.png", alt: "farmer", :size =>'400x350' %>
    </div>
  </div>
  <% end %>

</div>