<div class = "container">
  <div class = "row">
    <div class="col-xs-6 mx-auto">
      <%= image_tag "top.png", alt: "farmer", :size =>'900x450' %>
    </div>
  </div>

  <div class = "row">
    <div class ="col-6 mx-auto">
      <h3 class = "border my-5 rounded-circle border-secondary text-center">お店カテゴリ一覧</h3>
    </div>
  </div>


  <div class="row">
    <% shops = { "izakaya" => 1, "italian" => 2, "washoku" => 3, "chuka" => 4, "cafe" => 5 } %>
    
    <% shops.each_slice(2) do |shop_odd, shop_even| %>
      <div class ="offset-md-2 col-md-4 mb-5">
        <%= link_to stores_path(category_id: shop_odd[1]), style: "display:block;" do %>
          <%= image_tag "#{shop_odd[0]}.png", alt: "farmer", fallback: "no_image.jpg", class: "img-fluid" %>
        <% end %>
      </div>
      <div class ="col-md-4 mb-5 d-none d-md-block">
        <%= link_to stores_path(category_id: shop_odd[1]), style: "display:flex;height:100%;align-items:flex-end" do %>
          <%= image_tag "storeindex#{cycle(1, 2)}.png", alt: "farmer", fallback: "no_image.jpg", class: "img-fluid" %>
        <% end %>
      </div>
      <% if shop_even %>
        <div class ="offset-md-2 col-md-4 mb-5 d-none d-md-block">
          <%= link_to stores_path(category_id: shop_even[1]), style: "display:flex;height:100%;align-items:flex-end" do %>
            <%= image_tag "storeindex#{cycle(1, 2)}.png", alt: "farmer", fallback: "no_image.jpg", class: "img-fluid" %>
          <% end %>
        </div>
        <div class ="col-md-4 mb-5">
          <%= link_to stores_path(category_id: shop_even[1]) do %>
            <%= image_tag "#{shop_even[0]}.png", alt: "farmer", fallback: "no_image.jpg", class: "img-fluid" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  


</div>