<div class="container">
  <div class="mt-5">
    <h2 class="mx-auto mb-5 text-color col-3 text-center">アレンジレシピ投稿</h2>
  </div>

      <%= form_with model: [@recipe, @arrange_recipe], local: true do |f| %>

        <div class="form-group row">
          <%= f.label "レシピのタイトル", class:"col-md-2" %>
          <%= f.text_field :title, class:"rounded", autofocus: true, placeholder:"ゴロゴロひき肉の麻婆豆腐", size: "45", class:'py-2 px-2' %>

        </div>

        <div class="form-group row">
          <%= f.label :料理写真, class:"col-md-2" %>
          <%= f.file_field :image, accept: "image/*" %>
          <p>※料理以外の写真はご遠慮ください。</p>
        </div>

      <!------------ 材料登録 -------------->
        <div class="form-group row">
          <%= f.label :材料, class:"col-md-2" %>
          <%= f.text_field :serving, class:"rounded", autofocus: true, placeholder:"何人分" %>
        </div>

        <div class="row">
          <h4 class="col-2 mt-4">食材・調味料</h4>
        </div>
          <%= f.fields_for :arrange_ingredients do |arrange_ingredient| %>
            <%= render partial: "public/arrange_recipes/arrange_ingredient_fields", locals: { f: arrange_ingredient }%>
          <% end %>
        <div id="detail-association-arrange-ingredient-insertion-point"></div>
          <div class="links col-12 py-4">
            <%= link_to_add_association "+材料を追加", f, :arrange_ingredients,
                class: "btn btn-primary btn-block",
                data: {
                association_insertion_node: '#detail-association-arrange-ingredient-insertion-point',
                association_insertion_method: 'after'
                }
            %>
          </div>
               

      <!------------ 作成手順 -------------->
        <div class="row">
          <h4 class="col-2 mt-4">作り方</h4>
        </div>

        <%= f.fields_for :arrange_procedures do |arrange_procedure| %>
          <%= render partial: "public/arrange_recipes/arrange_procedure_fields", locals: { f: arrange_procedure }%>
        <% end %>
        <div id="detail-association-arrange-procedure-insertion-point"></div>
            
        <div class="links col-12 py-4">
          <%= link_to_add_association "+作り方を追加", f, :arrange_procedures,
              class: "btn btn-primary btn-block",
              data: {
              association_insertion_node: '#detail-association-arrange-procedure-insertion-point',
              association_insertion_method: 'after'
              }%>
        </div>


        <div class="form-group row">
          <%= f.label :コツ・ポイント, class:"col-md-2 mt-5" %>
          <%= f.text_area :comment, size: "50x5", placeholder:"ここに説明文を記述します", class:"mt-5" %>
        </div>

        <div class="actions">
          <%= f.submit "保存", class:"btn btn-success btn-lg offset-5 mt-4" %>
        </div>

      <% end %>

</div>