<p class = "mt-3 pl-4"><%= link_to @arrange_recipe.recipe.store.store_name, store_path(@arrange_recipe.recipe.store) %> > <%= link_to @arrange_recipe.recipe.title, recipe_path(@arrange_recipe.recipe) %></p>

<div class="container">
  <h2 class="mt-5 text-center">アレンジレシピ詳細</h2>
    <div class="row align-items-center m-5">
      <div class="col-lg text-center mb-5">
        <%= image_tag @arrange_recipe.get_image(350,250) %>
      </div>
      <div class='col-md-11 offset-md-1'>
        <div class="recipe_new">

          <div class="item_text mb-3">
            <h2><%= @arrange_recipe.title %></h2>
          </div>

          <div class='row'>
            <table class="table table-border mx-auto">
                <th class="d-flex pb-0 mb-2 border-top-0">
                  <h5>材料</h5>
                    <p>（<%= @arrange_recipe.serving %>）</p>
                </th>

              <tbody>
                <% @arrange_recipe.arrange_ingredients.each do |arrange_ingredient| %>
                <tr>
                  <td style="width: 45%" class='pt-4 pl-4'><%= arrange_ingredient.name %></td>
                  <td style="width: 10%" class='pt-4'><%= arrange_ingredient.amount %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="mx-auto mt-5">
            <table class="table table-borderless mx-auto">
              <thead class="page-heading-pink">
                <th colspan="2" class="py-1">
                  <h5>作り方</h5>
                </th>
              </thead>
              <tbody>
                <% step_num = 0 %>
                <% @arrange_recipe.arrange_procedures.each do |arrange_procedure| %>
                <tr class="ml-2">
                  <td style='width: 5%' class='text-center font-weight-bold pt-3'><%= step_num += 1 %>)</td>
                  <td style='width: 50%' class="text-wrap pt-3"><%= arrange_procedure.body %></td>
                </tr>
                 <% end %>
              </tbody>
            </table>
          </div>

          <div class="row mt-4 mb-3">
            <h4>コツ・ポイント</h4>
            <p class="text-wrap px-3"><%= @arrange_recipe.comment %></p>
          </div>

          <% if current_customer.present? %>
            <div class="d-flex justify-content-around">
            <% if @arrange_recipe.customer_id == current_customer.id %>
              <p><%= link_to '編集する', edit_arrange_recipe_path(@arrange_recipe.id), class: 'btn btn-success mb-3' %></p>
            <% end %>
            </div>
          <% end %>

      </div>
    </div>

  </div>
</div>