<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">

      <h2 class="text-dark bg-light py-4 mb-0"><strong>ログイン</strong></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field my-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions my-3">
          <%= f.submit "ログイン",class: "btn btn-bloc btn-primary" %>
        </div>
      <% end %>

        <div>
          <h5>会員登録がお済みでない⽅は</h5>
          <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
        </div>

    </div>
  </div>
</div>
