<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">

      <h2><strong>ログイン</strong></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-2">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"rounded", autofocus: true, placeholder:"メールアドレス", autocomplete: "email" %>
        </div>

        <div class="field my-2">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field my-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions my-3">
          <%= f.submit "ログイン",class: "btn btn-primary" %>
        </div>
      <% end %>

        <div>
          <h4>会員登録がお済みでない⽅は</h4>
          <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
        </div>

    </div>
  </div>
</div>
